@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
.bodyIndex {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='900' preserveAspectRatio='none' viewBox='0 0 1440 900'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2297%26quot%3b)' fill='none'%3e%3crect width='1440' height='900' x='0' y='0' fill='url(%26quot%3b%23SvgjsRadialGradient2298%26quot%3b)'%3e%3c/rect%3e%3cpath d='M192.84365101819796-95.53485776329771L-66.69700688514817-21.112771692707938 7.725079185441615 238.4278862106382 267.2657370887877 164.00580014004842z' fill='rgba(177%2c 208%2c 224%2c 0.55)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M24.44759633267688 291.74955358918726L265.0193578635362 169.17211865950958 142.4419229338585-71.39964287134973-98.1298385970008 51.17779205832795z' fill='rgba(177%2c 208%2c 224%2c 0.55)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M-76.37 -43.64 a32.73 32.73 0 1 0 65.46 0 a32.73 32.73 0 1 0 -65.46 0z' fill='rgba(177%2c 208%2c 224%2c 0.55)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1095.89 44.1 a208.21 208.21 0 1 0 416.42 0 a208.21 208.21 0 1 0 -416.42 0z' fill='rgba(177%2c 208%2c 224%2c 0.55)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1253.6940717119692 279.01102660051515L1510.4793311116605 195.57643811927932 1427.0447426304247-61.20882128041211 1170.2594832307334 22.225767200823725z' fill='rgba(177%2c 208%2c 224%2c 0.55)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1072.75 67.25 a254.5 254.5 0 1 0 509 0 a254.5 254.5 0 1 0 -509 0z' fill='rgba(177%2c 208%2c 224%2c 0.55)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M259.41617545524537 682.3357548327742L-7.956203104978613 644.7590175735565-45.53294036419629 912.1313961337805 221.83943819602771 949.7081333929982z' fill='rgba(177%2c 208%2c 224%2c 0.55)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M-121.49 721.49 a122.98 122.98 0 1 0 245.96 0 a122.98 122.98 0 1 0 -245.96 0z' fill='rgba(177%2c 208%2c 224%2c 0.55)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M-100.66300950847099 902.992563171324L154.6270059033446 990.8959648747563 242.53040760677683 735.6059494629407-12.759607805038783 647.7025477595084z' fill='rgba(177%2c 208%2c 224%2c 0.55)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1305.8952700604405 602.5035595559324L1158.8427306063832 828.9446129011969 1385.2837839516476 975.9971523552542 1532.336323405705 749.5560990099897z' fill='rgba(177%2c 208%2c 224%2c 0.55)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1554.9038105676657 755.0961894323342L1321.0769515458674 620.0961894323343 1186.0769515458674 853.9230484541326 1419.9038105676657 988.9230484541326z' fill='rgba(177%2c 208%2c 224%2c 0.55)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1176.29 683.71 a47.42 47.42 0 1 0 94.84 0 a47.42 47.42 0 1 0 -94.84 0z' fill='rgba(177%2c 208%2c 224%2c 0.55)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2297'%3e%3crect width='1440' height='900' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cradialGradient cx='0%25' cy='50%25' r='1508.67' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient2298'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(26%2c 55%2c 77%2c 1)' offset='1'%3e%3c/stop%3e%3c/radialGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: cover; }
  .bodyIndex .mainIndex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; }
    .bodyIndex .mainIndex-box-image {
      width: 25rem; }
    .bodyIndex .mainIndex-menu {
      display: flex;
      flex-direction: column;
      padding-left: 5rem; }
      .bodyIndex .mainIndex-menu-title {
        margin-bottom: 2rem;
        color: #F7F7F7;
        font-family: "Lilita One", cursive;
        font-weight: 100;
        font-size: 4rem; }
      .bodyIndex .mainIndex-menu-list {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .bodyIndex .mainIndex-menu-list-item {
          justify-content: center;
          width: 75%;
          margin-bottom: 2rem;
          border: 1px solid #B1D0E0;
          padding: 1rem 2rem;
          border-radius: 25px;
          border-style: dashed; }
          .bodyIndex .mainIndex-menu-list-item:hover {
            background-color: #B1D0E0; }
          .bodyIndex .mainIndex-menu-list-item-link {
            color: #F7F7F7; }
            .bodyIndex .mainIndex-menu-list-item-link:hover {
              color: #1A374D; }

body {
  background-color: #1A374D; }
  body .main {
    background: #B1D0E0;
    margin: 0 2rem 2rem 2rem;
    border-radius: 0 0 0.5rem 0.5rem;
    padding: 2rem; }

footer a {
  color: #F7F7F7;
  margin: 0 2rem; }

.menu {
  background: #B1D0E0;
  margin: 2rem 2rem 0 2rem;
  border: solid transparent;
  border-radius: 0.5rem 0.5rem 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .menu-button {
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    border: none; }
    .menu-button-img {
      width: 3.5rem;
      height: 3.5rem;
      background: #B1D0E0;
      padding: 0.5rem; }
  .menu-station {
    color: #F7F7F7;
    font-size: 0.8rem; }
  .menu-clock {
    text-align: center;
    font-family: "Open sans", sans-serif;
    color: #393E46;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: transparent; }
    .menu-clock-box {
      margin: 0 1rem;
      display: flex;
      flex-direction: column;
      border: 1px solid #F7F7F7;
      border-radius: 1rem;
      padding: 0 2rem;
      background: #F7F7F7; }
      .menu-clock-box-time {
        background: #F7F7F7; }

.nav {
  display: none;
  position: absolute; }
  .nav-open {
    display: block; }
  .nav-bar {
    display: flex;
    flex-direction: columns;
    text-align: center;
    list-style-type: none;
    background: #B1D0E0;
    margin-left: 2rem;
    flex-direction: column;
    padding: 0 1rem 1rem 1rem;
    border-radius: 0 0 1rem 1rem; }
    .nav-bar-item {
      text-align: center;
      margin: 10px 20px 0 0;
      display: flex;
      background: #F7F7F7;
      border: 1px solid transparent;
      border-radius: 0.5rem;
      padding: 0.5rem; }
      .nav-bar-item:hover {
        background: #6998AB; }
      .nav-bar-item-link {
        text-decoration: none;
        color: #393E46;
        background: transparent;
        font-size: 12px; }
        .nav-bar-item-link:hover {
          color: #F7F7F7; }

main .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 2rem 0;
  margin: 0 auto;
  height: auto;
  width: auto;
  place-items: center; }
  main .cards-card {
    background: #8598ac;
    border: 1px solid #B1D0E0;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px; }
    main .cards-card:hover {
      background: #6998AB; }
    main .cards-card-image {
      align-items: center;
      display: flex;
      margin-top: 3.5rem;
      justify-content: center;
      overflow: hidden; }
      main .cards-card-image-img {
        width: 80px; }
    main .cards-card-content {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 15px;
      margin-top: 2.5em; }
      main .cards-card-content-text {
        color: #F7F7F7; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  list-style: none;
  text-decoration: none; }

/*# sourceMappingURL=styles.css.map */
