@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Open+Sans:wght@300;400;500;600;700;800&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap')
$primary-color: #1A374D
$secondary-color: #406882
$tertiary-color: #6998AB
$quaternary-color: #B1D0E0
$white-color: #F7F7F7
$black-color: #393E46
$cards-color: #8598ac
$orange-color: #FF725E
$backgroundAbout: linear-gradient(180deg, #252525 15%, rgba(57,62,70,1) 100%)
$font-hours: 'Open sans', sans-serif
$font-index: 'Lilita One', cursive
$font-aboutUs: 'Montserrat', sans-serif
